<div class="container">
    <nav aria-label="breadcrumb" class="breadcrumb-nav-margin">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Projects
            </li>
        </ol>
    </nav>
    <h1>Project List</h1>
    <button class="btn btn-primary btn-right" style="background:#385796" (click)="createDataSource()">Add</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modified Date</th>
                <th>Created Date</th>
                <th>Action</th>
                <!-- <th>&nbsp;</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
              <td><input class="form-control" ng-model="item.title"></td>
              <td><button class="btn btn-primary" ng-click="add()">Add/Update</button></td>
              <td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
          </tr> -->
            <tr *ngFor="let item of itemList">
                <td>{{item.userId}}</td>
                <td>{{item.modifiedDate}}</td>
                <td>{{item.createdDate}}</td>
                <!-- <td><button class="btn btn-danger" (click)="remove(item._id)">Remove</button></td> -->
                <td><span style="color:#385796;cursor: pointer;" (click)="edit(item._id)" class="fas fa-edit"></span>&nbsp;&nbsp;<span style="color:#e01616;cursor: pointer;" (click)="remove(item._id)" class="fas fa-trash"></span></td>
            </tr>
        </tbody>
    </table>
    <div id="id01" class="w3-modal">
        <app-project-modal *ngIf="item" [isEdited]="isEdited" [item]="item" (addProject)="add($event)"></app-project-modal>
    </div>

</div>